beautifulsoup4==4.15.0
certifi==2026.7.22
charset-normalizer==3.4.9
click==8.4.2
defusedxml==0.7.1
et-xmlfile==2.0.0
flatbuffers==25.12.19
idna==3.18
lxml==6.1.1
magika==0.6.3
markdownify==1.2.3
markitdown[pptx,xlsx]==0.1.6
numpy==2.5.2
onnxruntime==1.28.0
openpyxl==3.1.5
packaging==26.3
pandas==3.0.5
Pillow==12.3.0
protobuf==7.35.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-pptx==1.0.2
requests==2.34.2
six==1.17.0
soupsieve==2.9.2
typing-extensions==4.16.0
urllib3==2.7.0
XlsxWriter==3.2.9
